<section class="slider">
  <div class="_container">
    <div class="slider__inner">

      <div class="slider__item">
        <div class="slider__item-title">
          We design clean, crisp & memorable icons
        </div>
      </div>
      <div class="slider__item">
        <div class="slider__item-title">
          We design clean, crisp & memorable icons
        </div>
      </div>
      <div class="slider__item">
        <div class="slider__item-title">
          We design clean, crisp & memorable icons
        </div>
      </div>
      <div class="slider__item">
        <div class="slider__item-title">
          We design clean, crisp & memorable icons
        </div>
      </div>
      <div class="slider__item">
        <div class="slider__item-title">
          We design clean, crisp & memorable icons
        </div>
      </div>

    </div>
  </div>
</section>

<section class="items">
  <div class="_container">
    <div class="items__inner">
      <div class="item">
        <div class="item__title">
          <div class="item__icon">
            <img src="/img/icons/item-1.svg" alt="">
          </div>
          Clean Theme
        </div>
        <div class="item__text">
          Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi. 
        </div>
        <a href='#' class="item__link">
          Read More
        </a>
      </div>
      <div class="item">
        <div class="item__title">
          <div class="item__icon">
            <img src="/img/icons/item-2.svg" alt="">
          </div>
          Responsive Design
        </div>
        <div class="item__text">
          Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi. 
        </div>
        <a href='#' class="item__link">
          Read More
        </a>
      </div>
      <div class="item">
        <div class="item__title">
          <div class="item__icon">
            <img src="/img/icons/item-3.svg" alt="">
          </div>
          Fully layerd PSD 
        </div>
        <div class="item__text">
          Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi. 
        </div>
        <a href='#' class="item__link">
          Read More
        </a>
      </div>
      <div class="item">
        <div class="item__title">
          <div class="item__icon">
            <img class="telegram-icon" src="/img/icons/item-4.svg" alt="">
          </div>
          Ready for coding
        </div>
        <div class="item__text">
          Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi. 
        </div>
        <a href='#' class="item__link">
          Read More
        </a>
      </div>
    </div>
  </div>
</section>

<section class="works">
  <div class="_container">
    <div class="works__title">latest works</div>
    <div class="works__inner">

      <div class="works__inner-item">
        <div class="works__inner-box">
          <img src="img/slider/item-1.jpg" alt="">
          <div class="works__inner-link">
            <a href="#"><img src="/img/icons/preview.svg" alt=""></a>
            <a href="#"><img src="/img/icons/link.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="works__inner-item">
        <div class="works__inner-box">
          <img src="img/slider/item-2.jpg" alt="">
          <div class="works__inner-link">
            <a href="#"><img src="/img/icons/preview.svg" alt=""></a>
            <a href="#"><img src="/img/icons/link.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="works__inner-item">
        <div class="works__inner-box">
          <img src="img/slider/item-3.jpg" alt="">
          <div class="works__inner-link">
            <a href="#"><img src="/img/icons/preview.svg" alt=""></a>
            <a href="#"><img src="/img/icons/link.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="works__inner-item">
        <div class="works__inner-box">
          <img src="img/slider/item-4.jpg" alt="">
          <div class="works__inner-link">
            <a href="#"><img src="/img/icons/preview.svg" alt=""></a>
            <a href="#"><img src="/img/icons/link.svg" alt=""></a>
          </div>
        </div>
      </div>

      <div class="works__inner-item">
        <div class="works__inner-box">
          <img src="img/slider/item-1.jpg" alt="">
          <div class="works__inner-link">
            <a href="#"><img src="/img/icons/preview.svg" alt=""></a>
            <a href="#"><img src="/img/icons/link.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="works__inner-item">
        <div class="works__inner-box">
          <img src="img/slider/item-2.jpg" alt="">
          <div class="works__inner-link">
            <a href="#"><img src="/img/icons/preview.svg" alt=""></a>
            <a href="#"><img src="/img/icons/link.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="works__inner-item">
        <div class="works__inner-box">
          <img src="img/slider/item-3.jpg" alt="">
          <div class="works__inner-link">
            <a href="#"><img src="/img/icons/preview.svg" alt=""></a>
            <a href="#"><img src="/img/icons/link.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="works__inner-item">
        <div class="works__inner-box">
          <img src="img/slider/item-4.jpg" alt="">
          <div class="works__inner-link">
            <a href="#"><img src="/img/icons/preview.svg" alt=""></a>
            <a href="#"><img src="/img/icons/link.svg" alt=""></a>
          </div>
        </div>
      </div>

      <div class="works__inner-item">
        <div class="works__inner-box">
          <img src="img/slider/item-1.jpg" alt="">
          <div class="works__inner-link">
            <a href="#"><img src="/img/icons/preview.svg" alt=""></a>
            <a href="#"><img src="/img/icons/link.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="works__inner-item">
        <div class="works__inner-box">
          <img src="img/slider/item-2.jpg" alt="">
          <div class="works__inner-link">
            <a href="#"><img src="/img/icons/preview.svg" alt=""></a>
            <a href="#"><img src="/img/icons/link.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="works__inner-item">
        <div class="works__inner-box">
          <img src="img/slider/item-3.jpg" alt="">
          <div class="works__inner-link">
            <a href="#"><img src="/img/icons/preview.svg" alt=""></a>
            <a href="#"><img src="/img/icons/link.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="works__inner-item">
        <div class="works__inner-box">
          <img src="img/slider/item-4.jpg" alt="">
          <div class="works__inner-link">
            <a href="#"><img src="/img/icons/preview.svg" alt=""></a>
            <a href="#"><img src="/img/icons/link.svg" alt=""></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="clients">
  <div class="_container">
    <div class="clients__inner">
      <div class="testimonials">
        <div class="testimonials__title">testimonials</div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut nulla sapien, at aliquam erat. Sed vitae massa tellus. Aliquam commodo aliquam metus, sed iaculis nibh tempus id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam nec nisi in nisl euismod fringilla.

          <span>John Travis, CEO, DomainName.com</span>
        </p>
      </div>
      <div class="clients-logo">
        <div class="clients-logo__title">
          Our Clients
        </div>
        <div class="clients-logo__images">
          <img src="/img/clients-logo.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="download">
      <div class="download__text">
        This is a clean and modern, four column website PSD template. You can code it into a Wordpress website, HTML5 responsive website for your personal or client works. So ahead and download this wonderful PSD template! 
      </div>
      <div class="download__btn">
        <a href="#" download>Download PSD</a>
      </div>
    </div>
  </div>
</section>
