<section class="slider">
  <div class="_container">
    <div class="slider__inner">

      <div class="slider__item">
        <div class="slider__item-title">
          We design clean, crisp & memorable icons
        </div>
      </div>
      <div class="slider__item">
        <div class="slider__item-title">
          We design clean, crisp & memorable icons
        </div>
      </div>
      <div class="slider__item">
        <div class="slider__item-title">
          We design clean, crisp & memorable icons
        </div>
      </div>
      <div class="slider__item">
        <div class="slider__item-title">
          We design clean, crisp & memorable icons
        </div>
      </div>
      <div class="slider__item">
        <div class="slider__item-title">
          We design clean, crisp & memorable icons
        </div>
      </div>

    </div>
  </div>
</section>

<section class="items">
  <div class="_container">
    <div class="items__inner">
      <div class="item">
        <div class="item__title">
          <div class="item__icon">
            <img src="/img/icons/item-1.svg" alt="">
          </div>
          Clean Theme
        </div>
        <div class="item__text">
          Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi. 
        </div>
        <a href='#' class="item__link">
          Read More
        </a>
      </div>
      <div class="item">
        <div class="item__title">
          <div class="item__icon">
            <img src="/img/icons/item-2.svg" alt="">
          </div>
          Responsive Design
        </div>
        <div class="item__text">
          Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi. 
        </div>
        <a href='#' class="item__link">
          Read More
        </a>
      </div>
      <div class="item">
        <div class="item__title">
          <div class="item__icon">
            <img src="/img/icons/item-3.svg" alt="">
          </div>
          Fully layerd PSD 
        </div>
        <div class="item__text">
          Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi. 
        </div>
        <a href='#' class="item__link">
          Read More
        </a>
      </div>
      <div class="item">
        <div class="item__title">
          <div class="item__icon">
            <img class="telegram-icon" src="/img/icons/item-4.svg" alt="">
          </div>
          Ready for coding
        </div>
        <div class="item__text">
          Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi. 
        </div>
        <a href='#' class="item__link">
          Read More
        </a>
      </div>
    </div>
  </div>
</section>