<section class="slider">
  <div class="_container">
    <div class="slider__inner">

      <div class="slider__item">
        <div class="slider__item-title">
          We design clean, crisp & memorable icons
        </div>
      </div>
      <div class="slider__item">
        <div class="slider__item-title">
          We design clean, crisp & memorable icons
        </div>
      </div>
      <div class="slider__item">
        <div class="slider__item-title">
          We design clean, crisp & memorable icons
        </div>
      </div>
      <div class="slider__item">
        <div class="slider__item-title">
          We design clean, crisp & memorable icons
        </div>
      </div>
      <div class="slider__item">
        <div class="slider__item-title">
          We design clean, crisp & memorable icons
        </div>
      </div>

    </div>
  </div>
</section>