<footer class="footer">
  <div class="_container">
    <div class="footer__inner">

      <div class="footer__item footer__item-content">
        <div class="footer__item-title">
          About us
        </div>
        <div class="footer__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod placerat dui et tincidunt. Sed sollicitudin posuere auctor. Phasellus at ultricies nisl. Integer at leo eros. Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie.
        </div>
      </div>

      <div class="footer__item footer__item-list">
        <div class="footer__item-title">
          Explore
        </div>
        <ul class="footer__list">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
            
      <div class="footer__item footer__item-list">
        <div class="footer__item-title">
          Browse
        </div>
        <ul class="footer__list">
          <li><a href="#">Careers</a></li>
          <li><a href="#">Press & Media</a></li>
          <li><a href="#">Contuct Us</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="footer__item footer__item-contact">
        <div class="footer__item-title">
          contact us
        </div>
        <div class="footer__adress">
          <span>BisLite Inc.</span>
          Always Street 265
          0X - 125 - Canada
        </div>
        <div class="footer__phone">
          Phone: <a href="tel:9876543210">987-6543-210</a>
          Fax: <a href="tel:9876543210">987-6543-210</a>
        </div>
      </div>

      <div class="footer__item footer__item-social">
        <div class="footer__item-title">
          connect with us
        </div>
        <ul class="footer__social">
          <li><a href="#"><img src="img/icons/social/item-1.png" alt=""></a></li>
          <li><a href="#"><img src="img/icons/social/item-2.png" alt=""></a></li>
          <li><a href="#"><img src="img/icons/social/item-3.png" alt=""></a></li>
          <li><a href="#"><img src="img/icons/social/item-4.png" alt=""></a></li>
          <li><a href="#"><img src="img/icons/social/item-5.png" alt=""></a></li>
          <li><a href="#"><img src="img/icons/social/item-6.png" alt=""></a></li>
        </ul>
      </div>

    </div>
    <div class="footer__bottom">
      <div class="footer__copy">
        © Copyright 2012 - BisLite Inc. All rights reserved. Some free icons used here are created by Brankic1979.com.
        Client Logos are copyright and trademark of the respective owners / companies.
      </div>
      <div class="footer__logo">
        <a href="#"><span>Bis</span>Lite</a>
      </div>
    </div>
  </div>
</footer>